@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* Header.module.css */
.header {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
}

.header_body {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: auto;
    height: 80px;
}

.header_body>div {
    text-align: center;
}

.title {
    font-size: 4.5rem;
    /* Tamaño del título */
    font-weight: 800;
    /* Negrita */
    margin-bottom: 0;
    /* Sin margen inferior */
    font-family: "Italiana", sans-serif;
    font-style: normal;
}

.subtitle {
    color: #6c757d;
    font-size: 1.4rem;
    margin-bottom: 0;

}

.divisor {
    box-sizing: border-box;
    padding: 0 1rem;
    max-height: 50px;
    width: 75%;
}

@media (max-width: 768px) {
    .logo {
        height: 60px;
        width: auto;
    }

    .title{
        font-size: 3rem;
    }

    .subtitle{
        font-size: 1rem;
    }

    .divisor{
        width: 100%;
    }
}

@media (max-width: 768px) {
}